<table class="table is-fullwidth is-hoverable is-centered is-narrow">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>
        <abbr title="Git Repository Link">Git-Repo</abbr>
      </th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each candidates as |candidate|}}
    <tr class="candidate">
      <td>{{candidate.f_name}} {{candidate.l_name}}</td>
      <td>{{candidate.email}}</td>
      <td>
        {{#if (eq candidate.repo_link "")}}
        <a id="repo" class="button is-primary" disabled>
          Copy
        </a>
        {{else}}
        <a id="repo" class="button is-primary" {{action "copyToClipboard" candidate.repo_link}}>
          {{#ember-tooltip duration=10000 event='click' hideOn='mouseleave'}}
          Copied!
          {{/ember-tooltip}}
          Copy
        </a>
        {{/if}}
      </td>
      <td>
        <div class="select">
          <select onchange={{action 'statusChanged' challenge_id candidate.candidate_id content=selected.target.value}}>
            {{#if (eq candidate.status 0)}}
            <option value="CREATED" selected disabled>Created</option>
            <option value="INVITED" disabled>Invited</option>
            <option value="REJECTED">Rejected</option>
            <option value="ACCEPTED">Accepted</option>
            {{else if (eq candidate.status 1)}}
            <option value="CREATED" disabled>Created</option>
            <option value="INVITED" selected disabled>Invited</option>
            <option value="REJECTED">Rejected</option>
            <option value="ACCEPTED">Accepted</option>
            {{else if (eq candidate.status 2)}}
            <option value="CREATED" disabled>Created</option>
            <option value="INVITED" disabled>Invited</option>
            <option value="REJECTED" selected>Rejected</option>
            <option value="ACCEPTED">Accepted</option>
            {{else if (eq candidate.status 3)}}
            <option value="CREATED" disabled>Created</option>
            <option value="INVITED" disabled>Invited</option>
            <option value="REJECTED">Rejected</option>
            <option value="ACCEPTED" selected>Accepted</option>
            {{else}}
            <option value="CREATED" disabled selected>Created</option>
            <option value="INVITED" disabled>Invited</option>
            <option value="REJECTED">Rejected</option>
            <option value="ACCEPTED">Accepted</option>
            {{/if}}
          </select>
        </div>
      </td>
      <td>
        {{#if (eq candidate.status 0)}}
        <p class="control" id="invite-{{candidate.candidate_id}}"
          {{action "inviteCandidate" candidate employer_id challenge_id}}>
          <a class="button create is-pulled-right"
            style="border-color: transparent; box-shadow: 0 10px 10px 0 rgba(0,0,0,.1)">
            <span>Invite</span>
          </a>
        </p>
        {{else}}
        <p class="control" data-toggle="collapse" data-target="#progression-{{candidate.candidate_id}}"
          id="view-{{candidate.candidate_id}}">
          <a class="button create is-pulled-right"
            style="border-color: transparent; box-shadow: 0 10px 10px 0 rgba(0,0,0,.1)">
            <span>View Progress</span>
          </a>
        </p>
        {{/if}}
      </td>
    </tr>

    <tr class="clickable" data-toggle="collapse" id="68" data-target=".68collapsed">
      <td>visible row</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="collapse out budgets 68collapsed">
      <td>hidden row</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="collapse out budgets 68collapsed">
      <td>hidden row</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="collapse out budgets 68collapsed">
      <td>hidden row</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="collapse out budgets 68collapsed">
      <td>hidden row</td>
      <td>&nbsp;</td>
    </tr>

    <tr class="clickable" id="69" data-toggle="collapse" data-target=".69collapsed">
      <td>visible row</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="collapse out budgets 69collapsed">
      <td>hidden row</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="collapse out budgets 69collapsed">
      <td>hidden row</td>
      <td>&nbsp;</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div id="snackbar">{{snackText}}</div>