<table class="table is-fullwidth is-hoverable is-centered is-narrow">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>
        <abbr title="Git Repository Link">Git-Repo</abbr>
      </th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each candidates as |candidate|}}
    <tr class="candidate">
      <td>{{candidate.f_name}} {{candidate.l_name}}</td>
      <td>{{candidate.email}}</td>
      <a id="repo" class="button is-primary" {{action "copyToClipboard" candidate.repo_link}}>
        {{#ember-tooltip duration=1000 event='click' hideOn='mouseleave'}}
        Copied!
        {{/ember-tooltip}}
        Copy
      </a>
      <td>
        <div class="select">
          <select>
            {{#if (eq candidate.status '0')}}
            <option value="0" selected>Pending</option>
            <option value="1">Invited</option>
            <option value="2">Accept</option>
            <option value="3">Not Selected</option>
            {{else if (eq candidate.status '1')}}
            <option value="0">Pending</option>
            <option value="1" selected>Invited</option>
            <option value="2">Accept</option>
            <option value="3">Not Selected</option>
            {{else if (eq candidate.status '2')}}
            <option value="0">Pending</option>
            <option value="1">Invited</option>
            <option value="2" selected>Accept</option>
            <option value="3">Not Selected</option>
            {{else if (eq candidate.status '3')}}
            <option value="0" selected>Pending</option>
            <option value="1">Invited</option>
            <option value="2">Accept</option>
            <option value="3" selected>Not Selected</option>
            {{else}}
            <option value="0" selected>Pending</option>
            <option value="1">Invited</option>
            <option value="2">Accept</option>
            <option value="3">Not Selected</option>
            {{/if}}
          </select>
        </div>
      </td>
      <td>
        {{#if (eq candidate.status 0)}}
        <p class="control" id="invite-{{candidate.candidate_id}}"
          {{action "inviteCandidate" candidate.candidate_id employer_id}}>
          <a class="button create is-pulled-right"
            style="border-color: transparent; box-shadow: 0 10px 10px 0 rgba(0,0,0,.1)">
            <span>Invite</span>
          </a>
        </p>
        {{else}}
        <p class="control" id="invite-{{candidate.candidate_id}}">
          <a class="button create is-pulled-right"
            style="border-color: transparent; box-shadow: 0 10px 10px 0 rgba(0,0,0,.1)" disabled>
            <span>Invite</span>
          </a>
        </p>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>