<table class="table is-fullwidth is-hoverable is-centered is-narrow">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>
        <abbr title="Git Repository Link">Git-Repo</abbr>
      </th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each candidates as |candidate|}}
    <tr class="candidate">
      <td>{{candidate.f_name}} {{candidate.l_name}}</td>
      <td>{{candidate.email}}</td>
      <a id="repo" class="button is-primary" {{action "copyToClipboard" candidate.repo_link}}>
        {{#ember-tooltip duration=1000 event='click' hideOn='mouseleave'}}
        Copied!
        {{/ember-tooltip}}
        Copy
      </a>
      <td>
        <div class="select">
          <select>
            {{#if (eq candidate.status '0')}}
            <option value="0" selected>Pending</option>
            <option value="1">Accept</option>
            <option value="2">Reject</option>
            {{else if (eq candidate.status '1')}}
            <option value="0">Pending</option>
            <option value="1" selected>Accept</option>
            <option value="2">Reject</option>
            {{else if (eq candidate.status '2')}}
            <option value="0">Pending</option>
            <option value="1">Accept</option>
            <option value="2" selected>Reject</option>
            {{else}}
            <option value="0" selected>Pending</option>
            <option value="1">Accept</option>
            <option value="2">Reject</option>
            {{/if}}
          </select>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>