<nav class="navbar is-light">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/logo.png" alt="Description" width="112" height="100">
    </a>
    <div {{action 'toggleMenu'}} class="navbar-burger burger {{if showMenu "is-active"}}"
      data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu {{if showMenu "is-active"}}">
    <div class="navbar-start">
      <a class="navbar-item">
        {{#if session.isAuthenticated}}
        {{#link-to 'home' session.data.authenticated.user.employer_id}}
        Home
        {{/link-to}}
        {{else}}
        {{#link-to 'login'}}
        Home
        {{/link-to}}
        {{/if}}
      </a>
      <a class="navbar-item">
        {{#link-to "about"}}
        About
        {{/link-to}}
      </a>
      <a class="navbar-item">
        {{#link-to "contact"}}
        Contact
        {{/link-to}}
      </a>
      {{#if session.isAuthenticated}}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Profile
        </a>
        <div class="navbar-dropdown is-boxed">
          {{!-- <a class="navbar-item" href="/profile">
            Settings
          </a> --}}
          <a {{action 'toggleModal'}} class="navbar-item">
            Logout
          </a>
        </div>
      </div>
      {{/if}}
    </div>
    <!-- <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-success">
              <span>Donate</span>
            </a>
          </p>
        </div>
      </div>
    </div> -->
  </div>
  {{#if session.isAuthenticated}}
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="field is-grouped">
        <p class="control">
          <a class="button create" style="box-shadow: 0 5px 10px 0 rgba(0,0,0,.1)" {{action 'toggleNewChallenge'}}>
            <span>New Challenge</span>
          </a>
        </p>
      </div>
    </div>
  </div>
  {{/if}}
</nav>
<!-- logout modal -->
<div class="modal {{if showModal "is-active"}}">
  <div class="modal-background"></div>
  {{#if showNewChallenge}}
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create Challenge</p>
      <button class="delete" aria-label="close" {{action "toggleNewChallenge"}}></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Title <span class="has-text-danger">*</span></label>
        <div class="control">
          {{input class="input" type="text" id='title' placeholder="Challenge title" required=true value=title}}
        </div>
      </div>
      <div class="field">
        <label class="label">Description <span class="has-text-danger">*</span></label>
        <div class="control">
          {{textarea class="textarea" type="text" id='description' placeholder="Challenge description" required=true value=description}}
        </div>
      </div>
      <div class="field">
        <label class="label">Type of Challenge <span class="has-text-danger">*</span></label>
        <div class="control">
          <select class="input" onchange={{action "setSelection" value="target.value"}}>
            <option value="" selected></option>
            <option value="Data Structures and Algorithms">Data Structures and Algorithms</option>
            <option value="Design Thinking">Design Thinking</option>
            <option value="Logic and Reasoning">Logic and Reasoning</option>
          </select>
        </div>
      </div>
      <!-- Using generic datepicker, no css implemented yet -->
      {{!-- <div class="field-body">
        <div class="field">
          <label class="label">Start Date</label>
          <div class="control">
            <input class="input" type="date" placeholder="Start date">
          </div>
        </div>
        <div class="field">
          <label class="label">End Date</label>
          <div class="control">
            <input class="input" type="date" placeholder="End date">
          </div>
        </div>
      </div> --}}
    </section>
    <footer class="modal-card-foot">
      <button class="button create" {{action "createChallenge"}} style="box-shadow: 0 5px 10px 0 rgba(0,0,0,.1)"
        type="submit">Save</button>
      <button class="button" {{action "toggleNewChallenge"}}>Cancel</button>
      {{#if this.isLoading}}
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
      {{/if}}
    </footer>
  </div>
  {{else}}
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Want to logout?</p>
      <a onclick={{action "logout"}} class="button is-large">
        <span class="icon has-text-warning">
          <i class="fa fa-exclamation-triangle fa-lg"></i>
        </span>
        <span>Logout</span>
      </a>
      <a onclick={{action "toggleModal"}} class="button is-large">
        <span class="icon icon has-text-danger">
          <i class="fa fa-ban fa-lg"></i>
        </span>
        <span>Cancel</span>
      </a>
    </header>
  </div>
  {{/if}}
</div>
<!-- logout modal -->