{{nav-bar goToChallenge=(route-action "goToChallenge") refreshCurrentRoute=(route-action "refreshCurrentRoute")}}

<div class="container is-fluid animated fadeInRight" style="margin-top: 20px;">
  <div class="field is-horizontal">
    <p class="field-body">
      <h1 class="title">{{model.challenges.title}}</h1>
    </p>
    {{!-- <p class="field-label">
      <a class="button create" style="border-color: transparent;box-shadow: 0 10px 10px 0 rgba(0,0,0,.1)"
        {{action 'toggleUpdateChallenge'}}>
        <span>Update</span>
      </a>
    </p> --}}
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary" style="box-shadow: 0 10px 10px 0 rgba(0,0,0,.1)">
            <div class="detail type">
              <span>Type:</span> {{model.challenges.category}}
            </div>
            <div class="detail candidates">
              <span>Number of candidates:</span> {{model.candidates.length}}
            </div>
            <div class="detail description">
              <span>Description:</span>
              <textarea class="textarea has-fixed-size tooltip" value={{model.challenges.description}}></textarea>
            </div>
            <div class="detail repository">
              <span>Git Repository:</span>
              <textarea class="textarea has-fixed-size tooltip" data-tooltip="Use Testify Credentials!"
                value="git clone &quot;{{model.challenges.repo_link}}&quot;"
                placeholder=" No Git repository created yet" rows="1" readonly>
                {{#ember-tooltip duration=10000 event='mouseover' hideOn='mouseleave'}}
                Use your Testify Credentials!
                {{/ember-tooltip}}
              </textarea>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  {{candidate-list snackText=snackText refreshCurrentRoute=(route-action "refreshCurrentRoute") finished=model.challenges.finished challenge_id=model.challenges.challenge_id employer_id=model.challenges.employer_id candidates=model.candidates}}
  {{#if (eq model.candidates.length 0)}}
  There are no candidates added to this challenge yet.
  Please add them by clicking "New Candidate"
  {{/if}}
  <div class="{{if model.challenges.finished "disabledContent"}}" style="display:flex; flex-direction:column">
    <p class="control">
      <a class="button create is-pulled-right"
        style="border-color: transparent; box-shadow: 0 10px 10px 0 rgba(0,0,0,.1)" {{action 'toggleNewCandidate'}}>
        <span>New Candidate</span>
      </a>
    </p>
    <p class="control">
      <a class="button create is-pulled-right"
        style="border-color: transparent; box-shadow: 0 10px 10px 0 rgba(0,0,0,.1)"
        {{action 'inviteAllCandidates' model.candidates}}>
        <span>Invite All</span>
      </a>
    </p>
    <p class="control">
      <a class="button create is-pulled-right"
        style="border-color: transparent; box-shadow: 0 10px 10px 0 rgba(0,0,0,.1)"
        {{action 'finishChallenge' model.challenges.challenge_id}}>
        <span>Finalize Challenge Decisions</span>
      </a>
    </p>
  </div>
</div>

<!-- modal -->
<div class="modal animated fadeIn {{if showModalChallenge "is-active"}}">
  <div class="modal-background"></div>
  {{#if showUpdateChallenge}}
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Update Challenge</p>
      <button class="delete" aria-label="close" {{action "toggleUpdateChallenge"}}></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Title <span class="has-text-danger">*</span></label>
        <div class="control">
          <input class="input" type="text" value="{{model.challenge.title}}" placeholder="Challenge title" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" value="{{model.challenge.description}}"
            placeholder="challenge description"></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label">Type of Challenge</label>
        <div class="control">
          <input class="input" type="text" value="{{model.challenge.category}}" placeholder="Challenge type">
        </div>
      </div>
      <!-- Using generic datepicker, no css implemented yet -->
      {{!-- <div class="field-body">
        <div class="field">
          <label class="label">Start Date</label>
          <div class="control">
            <input class="input" type="date" value="{{model.startdate}}" placeholder="Start date">
          </div>
        </div>
        <div class="field">
          <label class="label">End Date</label>
          <div class="control">
            <input class="input" type="date" value="{{model.enddate}}" placeholder="End date">
          </div>
        </div>
      </div> --}}
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" {{action "updateChallenge"}} type="submit">Save</button>
      <button class="button" {{action "toggleUpdateChallenge"}}>Cancel</button>
    </footer>
  </div>
  {{/if}}
  {{#if showNewCandidate}}
  <div class="modal-card animated fadeIn">
    <header class="modal-card-head">
      <p class="modal-card-title">Create Candidate</p>
      <button class="delete" aria-label="close" {{action "toggleNewCandidate"}}></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Candidate Email <span class="has-text-danger">*</span></label>
        <div class="control">
          {{input value=email class="input" type="email" placeholder="Email address" required=true}}
        </div>
      </div>
      <div class="field">
        <label class="label">First Name <span class="has-text-danger">*</span></label>
        <div class="control">
          {{input value=f_name class="input" type="email" placeholder="First Name" required=true}}
        </div>
      </div>
      <div class="field">
        <label class="label">Last Name <span class="has-text-danger">*</span></label>
        <div class="control">
          {{input value=l_name class="input" type="email" placeholder="Last Name" required=true}}
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button create" {{action "newCandidate"}} type="submit">Save</button>
      <button class="button" {{action "toggleNewCandidate"}}>Cancel</button>
      {{#if isLoading}}
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      {{else}}
      <label class="label has-text-danger">{{error}} </label>
      {{/if}}
    </footer>
  </div>
  {{/if}}
</div>
<!--  modal -->