{{nav-bar}}

<div class="container is-fluid">
  {{#each model as |challenge|}}
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title"><a href="/challenge/{{challenge.id}}">{{challenge.title}}</a></p>-->
            <p class="subtitle">Owner: {{challenge.owner}} </p>
            <div class="detail type">
              <span>Type:</span> {{challenge.category}}
            </div>
            <div class="detail start date">
              <span>Start Date:</span> {{challenge.startdate}}
            </div>
            <div class="detail start date">
              <span>End Date:</span> {{challenge.enddate}}
            </div>
            <div class="detail bedrooms">
              <span>Number of candidates:</span> {{challenge.candidates}}
            </div>
			<div class="detail bedrooms">
              <span>Git Repository:</span> 
              <textarea class="textarea has-fixed-size" value="{{challenge.gitrepo}}" placeholder="No Git repository created yet" rows="1" readonly></textarea>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
