{{nav-bar}}

<div class="container is-fluid">
  <h1 class="title">HOME PAGE</h1>
  {{candidate-list}}
  {{#each model as |rental|}}
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title"><a href="/challenge">{{rental.title}}</a></p>
            <p class="subtitle">Owner: {{rental.owner}} </p>
            <div class="detail type">
              <span>Type:</span> {{rental.category}}
            </div>
            <div class="detail start date">
              <span>Start Date:</span> {{rental.startData}}
            </div>
            <div class="detail start date">
              <span>End Date:</span> {{rental.endDate}}
            </div>
            <div class="detail bedrooms">
              <span>Number of candidates:</span> {{rental.candidates}}
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
