<section class="hero is-dark is-fullheight">
  {{nav-bar}}
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title">Login</h3>
        <p class="subtitle">Please login to proceed.</p>
        <div class="box">
          <figure class="image is-2by1">
            <img src="/images/logo_reverse.png">
          </figure>
          <form id="login-form">
            <div class="field">
              <div class="control">
                {{input value=this.username class="input is-large" type="email" placeholder="Username" autofocus=""}}
              </div>
            </div>

            <div class="field">
              <div class="control">
                {{input value=this.password class="input is-large" type="password" placeholder="Password"}}
              </div>
            </div>
            {{!-- <div class="field">
              <label class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </div> --}}
            {{#if this.isLoading}}
            <div class="lds-ripple">
              <div></div>
              <div></div>
            </div>
            {{else}}
            <button style="box-shadow: 0 10px 10px 0 rgba(0,0,0,.1)"
              class="button is-block is-info is-large is-fullwidth"
              {{action 'emailLogin' this.username this.password}}>Login </button>
            {{/if}}
          </form>
          <div class="content">
            <p>or sign in with</p>
            <span onclick={{action "githubLogin"}} class="icon github">
              <i id="github-login" href="#" class="fab fa-3x fa-github">
                {{#fa-stack size="lg" as |s|}}
                {{s.stack-2x "circle"}}
                {{s.stack-1x "github" inverse=true}}
                {{/fa-stack}}
              </i>
            </span>
          </div>
        </div>
        <p>
          <a onclick={{action "toggleSignUp"}}>Sign Up</a>
          {{!-- &nbsp;·&nbsp; --}}
          {{!-- <a href="../">Forgot Password</a> &nbsp;·&nbsp;
          <a href="../">Need Help?</a> --}}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- modal -->
<div class="modal {{if showSignUp "is-active"}}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Sign Up</p>
      <button class="delete" aria-label="close" {{action "toggleSignUp"}}></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Username <span class="has-text-danger">*</span></label>
        <div class="control">
          {{input value=this.username class="input" placeholder="Username" autofocus="" required=true}}
        </div>
      </div>
      <div class="field">
        <label class="label">Email Address <span class="has-text-danger">*</span></label>
        <div class="control">
          {{input value=this.email class="input" type="email" placeholder="Email address" required=true}}
        </div>
      </div>
      <div class="field">
        <label class="label">Password <span class="has-text-danger">*</span></label>
        <div class="control">
          {{input value=this.password class="input" type="password" minlength="6" maxlength="20" placeholder="Password" required=true}}
        </div>
        <label class="label"><span class="has-text-danger is-size-7">6 or more characters</span></label>
      </div>
      <div class="field">
        <label class="label">Confirm Password <span class="has-text-danger">*</span></label>
        <div class="control">
          {{input value=this.confirm_password class="input" type="password" minlength="6" maxlength="20" placeholder="Password" required=true}}
        </div>
      </div>
      <div class="field">
        <label class="label">First Name <span class="has-text-danger">*</span></label>
        <div class="control">
          {{input value=this.first_name class="input" placeholder="First Name" required=true}}
        </div>
      </div>
      <div class="field">
        <label class="label">Last Name <span class="has-text-danger">*</span></label>
        <div class="control">
          {{input value=this.last_name class="input" placeholder="Last Name" required=true}}
        </div>
      </div>
      <div class="field">
        <label class="label">Company</label>
        <div class="control">
          {{input value=this.company class="input" placeholder="Company" required=true}}
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">

      <button class="button is-success" {{action "createUser"}} type="submit">
        Sign Up
      </button>
      <button class="button" {{action "toggleSignUp"}}>Cancel </button>
      {{#if this.isLoading}}
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
      {{else}}
      <label class="label has-text-danger">{{this.error}} </label>
      {{/if}}
    </footer>
  </div>
</div>
<!--  modal -->