<section class="hero is-dark is-fullheight">
  {{nav-bar}}
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title">Login</h3>
        <p class="subtitle">Please login to proceed.</p>
        <div class="box">
          <figure class="image is-2by1">
            <img src="/images/logo_reverse.png">
          </figure>
          <form id="login-form">
            <div class="field">
              <div class="control">
                <input class="input is-large" type="email" placeholder="Email" autofocus="">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input class="input is-large" type="password" placeholder="Password">
              </div>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
          </form>
		  <div class="content">
			<p>or sign in with</p>
			<span class="icon is-medium">
				<a id="linkedin-login" href="#" class="fa-stack fa-md">
					{{#fa-stack size="lg" as |s|}}
						{{s.stack-2x "circle"}}
						{{s.stack-1x "linkedin" inverse=true}}
					{{/fa-stack}}
				</a>
			</span>
			<span class="icon is-medium">
				<a id="google-login" href="#" class="fa-stack fa-md">
					{{#fa-stack size="lg" as |s|}}
						{{s.stack-2x "circle"}}
						{{s.stack-1x "google" inverse=true}}
					{{/fa-stack}}
				</a>
			</span>
			<span class="icon is-medium">
				<a onclick={{action "login"}} id="github-login" href="#" class="fa-stack fa-md">
					{{#fa-stack size="lg" as |s|}}
						{{s.stack-2x "circle"}}
						{{s.stack-1x "github" inverse=true}}
					{{/fa-stack}}
				</a>
			</span>
			<span class="icon is-medium">
				<a id="facebook-login" href="#" class="fa-stack fa-md">
					{{#fa-stack size="lg" as |s|}}
						{{s.stack-2x "circle"}}
						{{s.stack-1x "facebook" inverse=true}}
					{{/fa-stack}}
				</a>
			</span>
		  </div>
        </div>
        <p>
          <a href="../">Sign Up</a> &nbsp;·&nbsp;
          <a href="../">Forgot Password</a> &nbsp;·&nbsp;
          <a href="../">Need Help?</a>
        </p>
      </div>
    </div>
  </div>
</section>
